html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  color: #555555;
  font-size: 14px;
}

#toggle {
  display: none;
}

.top-arrow {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.top-arrow svg {
  fill: #c0301c;
}

section {
  padding: 90px 0;
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.burger {
  display: none;
}

.section-title {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin: 28px auto 0;
}

.section-description {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.btn {
  text-transform: uppercase;
  padding: 15px 32px;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 1px;
  display: inline-block;
}

.btn:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
}

/*  HEADER  */

.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.header {
  height: 100vh;
  padding-top: 40px;
  background-color: #772b1f;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.header__content {
  vertical-align: middle;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__heading {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: -100px;
  text-align: center;
}

.header__description {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.topbar {
  display: flex;
  justify-content: space-between;
}

.topbar__logo {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.topbar .nav__list {
  display: flex;
}

.topbar .nav__item {
  margin-left: 28px;
}

.topbar .nav__item:first-child {
  margin: 0;
}

.topbar .nav__item a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/*  /HEADER  */

/*  SERVICES    */

.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__item {
  width: calc(33.333% - 28px);
}

.service {
  text-align: center;
}

.service:hover .service__logo {
  background-color: #c0301c;
}

.service:hover .service__logo svg {
  fill: #fff;
}

.service__logo {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.service__logo svg {
  fill: #c0301c;
  transition: fill 0.3s ease;
}

.service__title {
  margin: 25px 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.service__text {
  line-height: 24px;
}

/*  /SERVICES   */

/*  ABOUT   */

.about {
  background-color: #f8f8f8;
}

.information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info__column {
  line-height: 24px;
  width: calc(50% - 15px);
}

.about__slider {
  margin-top: 65px;
  position: relative;
}

.about__slider .slick-arrow {
  position: absolute;
  top: 125px;
  transform: translateY(-50%);
  z-index: 99;
  height: 38px;
  width: 35px;
  background-color: #555555;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease;
}

.about__slider .slick-arrow::before {
  display: none;
}

.about__slider .slick-arrow:hover {
  background-color: #c0301c;
  opacity: 1;
}

.about__slider .slick-prev {
  left: 15px;
  background-image: url(../img/left-arrow.svg);
}

.about__slider .slick-next {
  right: 15px;
  background-image: url(../img/right-arrow.svg);
}

.member {
  padding: 0 15px;
  outline: none;
}

.member .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__image {
  background-color: #555555;
  position: relative;
  height: 250px;
  width: 100%;
}

.member__image img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.3s ease;
}

.member__social {
  position: absolute;
  display: none;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.member__social .social-icon {
  width: 28px;
  height: 28px;
  display: block;
  transition: background-color 0.3s ease;
}

.member__social .social-icon svg {
  height: 16px;
  width: 100%;
  fill: #fff;
  margin-top: 50%;
  transform: translateY(-50%);
}

.member__social .social-icon:hover {
  background-color: #c0301c;
}

.member__name {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0 15px 0;
}

.member__position {
  font-size: 13px;
}

.member:hover .member__image img {
  opacity: 0.5;
}

.member:hover .member__social {
  display: flex;
}

/*  /ABOUT   */

/*  WORKS   */

.works {
  padding-bottom: 0;
}

.works__filter {
  margin-top: 25px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter__list {
  display: flex;
}

.filter__item {
  cursor: pointer;
  margin-right: 25px;
}

.filter__item:last-child {
  margin: 0;
}

.filter__item.active,
.filter__item:hover {
  color: #c0301c;
}

.works__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}

.works__item {
  width: 33.333%;
  padding: 15px;
}

.work {
  position: relative;
  padding-top: 100%;
}

.work__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.work__content {
  color: #fff;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(192, 48, 28, 0.7);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.work__title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.work__category {
  margin: 15px 0 25px 0;
  font-size: 12px;
}

.work__view-btn {
  color: rgba(192, 48, 28, 0.7);
  background-color: #fff;
  padding: 15px 21px;
}

.work:hover .work__content {
  opacity: 1;
}

.works__offer {
  margin-top: 100px;
}

.offer {
  height: 370px;
  width: 100%;
  background-image: url(../img/works-banner.jpg);
  background-size: cover;
  background-position: center;
  background-color: #c0301c;
}

.offer__content {
  background-color: rgba(192, 48, 28, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offer__title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 50px;
  line-height: 44px;
}

/*  /WORKS   */

/*  BLOG    */

.blog__item {
  display: flex;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 38px;
  padding-top: 38px;
  min-height: 320px;
}

.blog__item:last-child {
  border: none;
}

.blog__img {
  width: 462px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 40px;
}

.blog__description {
  display: flex;
  flex-direction: column;
}

.blog__header {
  display: flex;
}

.blog__date {
  margin-right: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 20px;
  min-width: 78px;
  max-width: 78px;
  height: 78px;
  border: 2px solid #555555;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.blog__date span {
  font-weight: bold;
  font-size: 24px;
}

.blog__title {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.blog__author {
  margin-left: 14px;
  font-size: 13px;
}

.blog__author span {
  color: #c0301c;
}

.blog__text {
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: auto;
}

.blog__read-more {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #777777;
}

.blog__read-more:hover {
  color: #c0301c;
}

/*  /BLOG    */

/*  REVIEWS*/

.reviews {
  background-color: #f8f8f8;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 110px;
}

.partners__item {
  padding: 0 20px;
  margin-bottom: 15px;
}

.reviews__slider {
  margin-top: 70px;
  margin-bottom: 60px !important;
  padding: 0 190px;
  position: relative;
}

.reviews__slider .slick-dots {
  position: absolute;
  bottom: -65px;
  left: 0;
  display: block;
}

.reviews__slider .slick-dots li button:before {
  color: transparent;
  background-color: #dddddd;
  border-radius: 50%;
  opacity: 1;
  height: 14px;
  width: 14px;
  line-height: 100%;
}

.reviews__slider .slick-dots li.slick-active button:before {
  background-color: #c0301c;
}

.review {
  outline: none;
  text-align: center;
}

.review__text {
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
}

.review__author {
  font-size: 20px;
  margin-top: 30px;
  display: block;
}

/*  /REVIEWS*/

/*  CONTACT */

.contact__wrapper {
  display: flex;
  justify-content: space-between;
}

.address {
  display: flex;
  flex-direction: column;
  margin-right: 155px;
}

.address__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 28px;
  font-size: 12px;
  margin-bottom: 30px;
}

.address__logo {
  position: absolute;
  top: 0;
  left: -28px;
}

.address__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 18px;
}

.address__street,
.address__phone,
.address__email {
  line-height: 20px;
  color: #555555;
}

.address__phone:hover,
.address__email:hover {
  color: #c0301c;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__row {
  display: flex;
  justify-content: space-between;
}

.form input {
  width: calc(50% - 15px);
  margin-bottom: 20px;
  padding: 0 16px;
  height: 44px;
  border: 1px solid #555555;
  outline: none;
}

.form input:focus {
  border-color: #c0301c;
}

.form input::-moz-placeholder {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.form input:-ms-input-placeholder {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.form input::-ms-input-placeholder {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.form input::placeholder {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.form__text {
  margin-bottom: 20px;
  height: 104px;
  resize: none;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  padding: 16px;
  outline: none;
}

.form__text:focus {
  border-color: #c0301c;
}

.form__text::-moz-placeholder {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.form__text:-ms-input-placeholder {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.form__text::-ms-input-placeholder {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.form__text::placeholder {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.form__submit-btn {
  padding: 16px 35px;
  background-color: transparent;
  border: 1px solid #555555;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__submit-btn:hover {
  color: #fff;
  background-color: #555555;
}

.form .remark {
  font-size: 12px;
  margin-left: 35px;
}

.form .remark span {
  color: #c0301c;
}

/*  /CONTACT */

/*  FOOTER  */

.footer {
  background-color: #c0301c;
  padding: 100px 0;
}

.footer__social {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.footer__social::after {
  content: '';
  height: 2px;
  width: 50px;
  background-color: #fff;
  position: absolute;
  bottom: -30px;
}

.footer__social-item {
  height: 36px;
  width: 36px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.footer__social-item:last-child {
  margin: 0;
}

.footer__social-item svg {
  height: 15px;
  width: 15px;
  fill: #fff;
}

.footer__copyright {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.footer__copyright span {
  color: #cecece;
}

/*  /FOOTER  */

@media (max-width: 992px) {
  .blog__img {
    width: 30%;
  }

  .reviews__slider {
    padding: 0 50px;
  }

  .address {
    margin-right: 55px;
  }

  .remark {
    width: calc(100% - 200px);
    display: inline-block;
    vertical-align: middle;
  }

  .footer {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  /* MENU TOGGLE */

  #toggle {
    display: block;
    width: 28px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
  }

  #toggle div {
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 6px auto;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  #toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #toggle.on .two {
    opacity: 0;
  }

  #toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  .topbar__nav {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    background-color: #c0301c;
    z-index: 2;
    height: 100vh;
    transition: all .5s ease;
    overflow: hidden;
  }

  .topbar__nav .nav__list {
    flex-direction: column;
    margin-right: 30px;
    margin-top: 90px;
  }

  .topbar__nav .nav__item {
    margin: 10px 0;
    text-align: right;
  }

  .topbar__nav.active {
    width: 200px;
  }

  section {
    padding: 50px 0;
  }

  .offer {
    height: 220px;
  }

  .offer__title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .services__item {
    width: calc(50% - 28px);
    margin-bottom: 40px;
  }

  .info__column {
    width: 100%;
    margin-bottom: 20px;
  }

  .works__item {
    width: 50%;
  }

  .blog__item {
    flex-direction: column;
  }

  .blog__img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
  }

  .address {
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }

  .address__item {
    text-align: center;
    margin-left: 0;
    width: 33.333%;
  }

  .address__logo {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contact__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .header__heading {
    font-size: 36px;
  }

  .services__item {
    width: 100%;
    margin-bottom: 40px;
  }

  .member {
    padding: 0;
  }

  .works__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .filter__list {
    flex-direction: column;
  }

  .filter__item {
    margin: 5px 0;
    text-align: center;
  }

  .filter__item:last-child {
    margin: 5px 0;
  }

  .works__container {
    margin-top: 15px;
  }

  .blog__title-author {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .blog__header {
    flex-direction: column;
  }

  .blog__date {
    margin: 0 auto;
  }

  .blog__title,
  .blog__author {
    text-align: center;
  }

  .reviews__slider {
    margin-top: 30px;
  }

  .form__row {
    flex-wrap: wrap;
    display: flex;
  }

  .form__row input {
    width: 100%;
  }

  .address__item {
    text-align: center;
    margin-left: 0;
    width: 50%;
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  .section-description {
    margin-bottom: 30px;
  }

  .offer__title {
    font-size: 18px;
    text-align: center;
  }
}

.webp .header { background-image: url(../img/header.webp); }

.webp .offer { background-image: url(../img/works-banner.webp); }